.mail-preview {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.mail-preview button {
  background: none;
  border: none;
  margin: 10px;
}

.mail-preview button:hover {
  cursor: pointer;
}

.mail-preview .sent-by {
  margin: 10px;
  min-width: 80px;
}
.mail-preview .sent-at {
  /* background-color: aqua; */
  position: relative;
  left: 50px;
}

.mail-preview .mail-preview-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.mail-preview .mail-preview-content p {
  margin: 10px;
}

.mail-preview .mail-preview-content p.mail-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 50px;
  margin-left: 0;
  padding-top: 17px;
  color: gray;
  font-size: 0.8em;
  max-width: 300px;
  height: 50px;
}

.mail-preview ul {
  display: flex;
}

.mail-preview ul li {
  margin: 10px;
}

.mail-preview ul li:hover {
  cursor: pointer;
}
