.mail-details {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* margin-inline-start: auto;
  margin-inline-end: auto; */
  background-color: white;
}

.mail-details .header-mail-details {
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-between; */
  margin: 10px;
  padding: 10px;
}

.mail-details .header-mail-details h1,
h2 {
  margin: 20px;
}

.mail-details .header-mail-details button {
  margin: 20px;
}

.mail-details p {
  background-color: rgb(241, 235, 235);
  align-items: center;
  width: 70%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
