.mail-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-filter input {
  min-width: 450px;
  min-height: 35px;
  background-color: rgb(212, 224, 228);
  border: none;
  border-radius: 0.6em;
  padding-left: 20px;
  margin-top: 20px;
}
