.mail-preview {
  display: flex;
}

.mail-preview button {
  background: none;
  border: none;
  margin: 10px;
}

.mail-preview button:hover {
  cursor: pointer;
}

.mail-preview h4 {
  margin: 10px;
  width: 150px;
}

.mail-preview .mail-body {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
}

.mail-preview ul {
  display: flex;
}

.mail-preview ul li {
  margin: 10px;
}

.mail-preview ul li:hover {
  cursor: pointer;
}
