.note-todos {
    margin: 0;
    letter-spacing: .01428571em;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #202124;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #5f6368;
    margin-bottom: 55px;
}

.note-todos h4 {
    text-transform: capitalize;
    letter-spacing: .00625em;
    font-family: Roboto-Medium, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 12px 16px 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #202124;
}

.is-done {
    text-decoration: line-through;
}

.todo-label {
    padding: 4px 16px 0px 10px;
}

.btn-delete-todo {
    float: right;
    border: none;
    background-color: transparent;
    background-size: 18px 18px;
    margin: 0;
    opacity: 0;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    height: 26px;
    width: 26px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyIDE5IDYuNDF6Ii8+Cjwvc3ZnPgo=");
    padding: 0;
    position: relative;
    bottom: -10px;
}

.btn-delete-todo:hover {
    cursor: pointer;
    opacity: 0.87;
    background-color: rgba(95, 99, 104, 0.157);
    position: relative;
    bottom: -10px;
}

.note-todo-container {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding-left: 16px;
}

.note-todo-container [name="todo-checkbox"] {
    display: inline;
}

.note-todo-container [name="todo-checkbox"]:hover {
    opacity: 1;
    cursor: pointer;
}

.todo-txt {
    width: 100%;
    border: none;
    display: inline;
    border-bottom: 1px solid rgba(95, 99, 104, 0);
    border-top: 1px solid rgba(95, 99, 104, 0);
    padding: 4px 16px 6px 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #5f6368;
    font-family: Roboto-Regular, Arial, sans-serif;
    letter-spacing: .00625em;
    line-height: 1.5rem;
    font-size: 1rem;
}

.todo-txt:hover+.btn-delete-todo {
    opacity: 0.54;
}

.todo-txt:focus+.btn-delete-todo {
    opacity: 0.54;
}

.todo-txt.checked {
    width: 100%;
    border: none;
    display: inline;
    text-decoration: line-through;
}

.todo-txt:focus {
    outline: none;
    border-bottom: 1px solid rgba(95, 99, 104, 0.157);
    border-top: 1px solid rgba(95, 99, 104, 0.157);
}

.todo-txt.checked:focus {
    outline: none;
}

.note-todos [name="note-todo-title"] {
    width: 100%;
    border: none;
    padding: 16px 15px 12px;
    border: none;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 1.375rem;
    letter-spacing: 0;
    line-height: 1.75rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #202124;
}

.note-todos [name="note-todo-title"]:focus {
    outline: none;
}