.note-list {
    margin-top: 50px;
}

.note-list-container {
    column-count: 4;
    column-gap: 10px;
    margin-top: 20px;
    column-width: 240px;
}

.notes-list-title {
    color: #5f6368;
    letter-spacing: .07272727em;
    font-family: Roboto-Medium, Arial, sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 65px 16px 8px;
    display: flex;
}