.mail-app {
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100vw;
}

.mail-app header {
  background-color: whitesmoke;
  border: none;
}

.mail-app aside {
  /* background-color: aqua; */
  float: left;
  width: 20%;
  height: 100%;
}

.mail-app .main-content-app {
  /* background-color: aquamarine; */
  float: left;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
