.mail-app {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
}

.mail-app .main-content-app {
  width: 1000px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
